* {
  margin: 0;
  padding: 0;
}

.footer {
  background: #03004d;
  color: #ffffff;
  text-align: center;
  padding: 2.5em 0;
  /* height: 30vh; */
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  color: #0088a9 !important;
  text-decoration: none;
}

.icon__list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.icon__list {
  margin: 1em 0;
}

.social-list_item {
  margin: 0 0.5em;
}

p {
  font-size: 1.25rem;
  font-weight: 400;
}

@media only screen and (max-width: 600px){
  p {
  font-size: 1rem;
  font-weight: 300;
}
}