.locateUs__head-title::after{
    content: '';
    display: block;
    width: 4.5em;
    height: 2px;
    margin: 0.2em auto 1em;
    background: #000;
    opacity: 0.25;
    margin-bottom: 0.25em;
}

/* .map{
    width:500px;
    height:500px;
} */

.inner-container{
    display:flex;
}

.location{
    display: inline;
}

.locateUs-container{
    width:auto;
    margin: 0 auto ;
}

@media only screen and (max-width: 600px){
    .location{
        display: block;
    }
    .inner-container{
        flex-direction: column;
    }  
    .locateUs-container{
        width:90%;
    }
}

@media only screen and (min-width: 600px){
    .locateUs-container{
        width:80%;
    }
}

/* @media only screen and (max-width: 768px){
    .locateUs-container{
        width:80%;
    }
}

@media only screen and (max-width: 540px){
    .locateUs-container{
        width:90%;
    }
}

@media only screen and (max-width: 360px){
    .location{
        display: block;
    }
    .inner-container{
        flex-direction: column;
    }  
    .locateUs-container{
        width:90%;
    }
}

@media only screen and (max-width: 411px){
    .location{
        display: block;
    }
    .inner-container{
        flex-direction: column;
    }  
    .locateUs-container{
        width:90%;
        margin:auto;
    }
} */
