.head-title::after{
    content: '';
    display: block;
    width: 7.5em;
    height: 2px;
    margin: 0.2em auto 1em;
    background: #000;
    opacity: 0.25;
    margin-bottom: 0.25em;
}

.container_{
    text-align: center;
    width:70%;
    margin: 0 auto ;
}

.table_{
    text-align: center;
}